{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
{{ block.super }}
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<!-- XDSoft DateTimePicker -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>

{% endblock %}

<!-- Booking form -->
{% block content %}
<div class="col-md-6 mt-3 offset-md-3">
    <form method="POST" action="{% url 'booking' %}" class="form mb-2 p-2 form-style"
        enctype="multipart/form-data">
        <h1 class="text-center">Order a cake</h1>
        {% csrf_token %}
        {{ form | crispy }}
        {{ form.media }}
        {{ form.date }}
        <body>

            <input id="datetimepicker" type="text">
            
            <script>
              $(function () {
                $("#datetimepicker").datetimepicker();
              });
            </script>
        <br>
        <button type="submit" class="btn" id="order-btn">Submit the Order</button>
    </form>
</div>

{% endblock %}

{% block extra_js %}
<script>
  $(function () {
    $("#id_date").datetimepicker({
      format: 'd/m/Y H:i',
    });
  });
</script>
{% endblock %}