{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'booking/css/datepicker.css' %}">
{% endblock %}

<!-- Confirmation form -->
{% block content %}
<div class="form-style text-center p-3 m-3">
    <h1 class="text-center">Confirm you'd like to cancel your order</h1>
    <form method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete your order: "{{ object.pk }}"?</p>
        <p>Name: {{ object.booking_name }}</p>
        <p>Table: {{ object.booked_item }}</p>
        <p>Date: {{ object.booking_date }}</p>
        <br>
        <p>If not you can edit your order: 
            <a href="{% url 'booking' %}">
                <button class="btn btn-primary" id="order-btn" type="button">
                    Update your order
                </button>
            </a>
        </p>

        <input type="submit" value="Confirm" class="btn" id="order-btn" >
    </form>
</div>

{% endblock %}
