{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        
        <!-- Menu Item Entries Column -->
        <div class="col-12 mt-3">
            <div class="row">
                {% for menu_item in object_list %}
                <h2>{{ menu_item.type }}</h2>  
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <a href="../booking.html" class="menu-link">
                                <h2 class="card-title">{{ menu_item.title }}</h2>
                                <img class="card-img-top" src=" {{ menu_item.featured_image.url }}">
                                <p class="card-text">{{ menu_item.description }}</p>
                                <p>
                                    {% if menu_item.vegan %}
                                    <span id='vegan'>*Vegan</span>
                                    {% endif %}
                                </p>
                                {% if user.is_authenticated %}
                                    <button class="btn order" type="button">
                                        Order                                    
                                    </button>
                                {% endif %}
                            </a>
                        </div>
                    </div>                
                </div>
            {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
            {% endif %}
            {% if forloop.last %}
            </div>
            {% endif %}
                {% endfor %}
            </div>   
        </div>
    </div>
</div>

{%endblock%}