{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <h1 class="text-uppercase text-center">menu</h1>
    <div class="row">
        
        <!-- Menu Item Entries Column -->
        <div class="col-12 mt-3">
            <div class="row">  
                {% for menu_item in object_list %}
                <div class="col-md-4">
                    <div class="card text-center mb-4">
                        <div class="card-body">
                            <h2 class="card-title">{{ menu_item.title }}</h2>
                            <img class="card-img-top" src=" {{ menu_item.featured_image.url }}">
                            <div style="height: 150px">
                                <p class="card-text">{{ menu_item.description }}</p>
                                <p>
                                    {% if menu_item.vegan %}
                                        <span id='vegan'>Vegan <i class="fa-solid fa-leaf"></i></span>
                                    {% endif %}
                                </p>
                                <p class="card-text">{{ menu_item.price }} &euro;</p>
                            </div>
                        </div>
                    </div>                
                </div>
            {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
            {% endif %}
            {% if forloop.last %}
            </div>
            {% endif %}
                {% endfor %}
            </div>   
        </div>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto text-center">
        <a href="{% url 'booking' %}">
            <button class="btn btn-primary" id="order-btn" type="button">
                Order your favourite cake                                   
            </button>
        </a>
    </div>
</div>

{%endblock%}