{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'booking/css/datepicker.css' %}">
{% endblock %}

<!-- Booking form -->
{% block content %}
<div class="m-3">
    <form method="POST" action="{% url 'booking' %}" class="form mb-2 p-2 form-style" enctype="multipart/form-data">
        <h1 class="text-center">Order a cake</h1>
        {{ form | crispy }}
        {{ form.media }}
        {% csrf_token %}
        <button type="submit" class="btn form-style">Submit the Order</button>
    </form>
</div>

{% endblock %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script>
    $('.datepicker').datepicker();
</script>
{% endblock %}